spawn-sh-at-startup "swayidle -w -C ~/.config/swayidle/niri/config"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
// spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
