environment {
    LIBVA_DRIVER_NAME                   "iHD"
    VDPAU_DRIVER                        "va_gl"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORMTHEME                "gtk3"
    ELECTRON_OZONE_PLATFORM_HINT        "auto"
    GTK_IM_MODULE                       "simple"
    _JAVA_AWT_WM_NONREPARENTING         "1"
    TERMINAL                            "alacritty"
    EDITOR                              "zed"
}

include "layout.kdl"
include "key_binds.kdl"
include "window_rules.kdl"
include "input.kdl"
include "autostart.kdl"
include "animations/pop-drop.kdl"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot %Y-%m-%d %H-%M-%S.png"

output "eDP-1" {
  mode "1920x1080@60"
  scale 1.2
}

hotkey-overlay {
  skip-at-startup
}

animations {
  on
}

debug {
  honor-xdg-activation-with-invalid-serial
}

gestures {
  hot-corners {
    off
  }
}

overview {
  backdrop-color "#26233a"
  workspace-shadow {
    off
  }
}

blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 1.7      // sample distance per pass (default: 3.0)
  noise 0.017     // grain overlay (default: 0.02)
  saturation 1.5  // color saturation boost (default: 1.5)
}

include "./noctalia.kdl"
