window-rule {
  open-floating true
  geometry-corner-radius 7
  draw-border-with-background false
  clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

layer-rule {
  match namespace="^noctalia-overview*"
  match namespace="^noctalia-wallpaper*"

  place-within-backdrop true
}
